html{
	font-size: 62.5%; 
}
body{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
	text-decoration: none;
	}
	
main{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("https://www.collinsdictionary.com/images/full/coffeeshop_116612164.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-color: black;
	font-family: Benne;
	box-shadow: 0.8rem 0rem 3rem 0.7rem ; 
}
fieldset legend{
	background-color: white;
	text-decoration: underline;
	text-decoration-thickness: 5% ;
	padding-bottom: 0.4rem;
	border-radius: 0.8rem;
	text-align: center;
	transform: translateY(-20%);
	font-size: 3rem;
}
fieldset{
	background-color: white;
	border-radius: 0.8rem;
	box-shadow:0rem 0rem 3rem 0.1rem #8C8C8C;
	padding: 0rem 0rem 2rem 0rem;
	border-style: solid;
	border-color: black;
	border-width: 0.02rem;
	margin: 0 auto;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	width: 50%;
}
header h2{
	font-size: 2.5rem;
}
#title{
	display: flex;
	justify-content: space-around;
	margin-bottom: -4rem;
	margin-top: -2rem;
	font-size: 4rem;
}

.list{
	width: 60%;
	height: min(2.5rem, 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 2.5em;
}
#title p::first-letter{
	font-size: 5rem;
}
#navig{
	display: flex;
	font-size: 1.8rem;
	justify-content: space-evenly;
	background-color: black;
	width: 70%;
}
#navig a{
	font-size: 1.9rem;
	color: white;
	text-decoration: none;
}
#navig h3{
	margin: 0;
}
